@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@font-face {
    font-family: Angeltears;
    src: url(../fonts/ANGELTEARS-trial.ttf);
}
html, body{
    margin: 0;
    padding: 0;
    background-color: #310302;
}
.wrapper{
    background-color: #fff;
    width: 993px;
    margin: 0 auto;
}
.header {background: -webkit-linear-gradient(-90deg, #f5f5f5 0%, #fefbfb 100%);
    background: -moz-linear-gradient(-90deg, #f5f5f5 0%, #fefbfb 100%);
    background: -o-linear-gradient(-90deg, #f5f5f5 0%, #fefbfb 100%);
    background: -ms-linear-gradient(-90deg, #f5f5f5 0%, #fefbfb 100%);
    background: linear-gradient(180deg, #f5f5f5 0%, #fefbfb 100%);}
.header:after,
.services:after,
.info:after,
.footer:after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
.logo h1{
}
.menu{
    float: right;
    width: 570px;
    min-height: 102px;
    padding-right: 16px;
}
.main-nav{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.main-nav li{
    display: inline-block;
    line-height: 102px;
    padding: 0 10px;
}
.main-nav li:last-child{
    padding-right: 0;
}
.main-nav a{
    display: block;
    text-decoration: none;
    color:  #531604;
}
.main-nav .active{
    color:  #d8c197;
}
.service{
    max-width: 220px;
    float: left;
}
.info-left-col{
    float: left;
    width: 620px;
}
.info-right-col{
    float: right;
    width: 310px;
}
.awards li{
    display: inline-block;
    background-color: gray;
    height: 100px;
}
.section{
    float: left;
    width: 220px;
}
.slide-heading{
    margin-left: 25px;
    margin-top: 50px;
    width: 470px;
    color: #b88f3f;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.slide-desc{
    margin-left: 25px;
    margin-top: 25px;
    width: 550px;
    color: #d8c197;
    font-family: "Open Sans",sans-serif;
    font-size: 17px;
    line-height: 18px;
}
.slide-button{
    background-color:  #b88f3f;
    width: 204px;
    height: 54px;
    margin-top: 48px;
    margin-left: 107px;
    border-radius: 27px;
    font-family: Bitter, serif;
    font-weight: bold;
    text-transform: uppercase;
}
.slide-button a{
    text-decoration: none;
    color: #fffffe;
}
.slide-button:after{
    content: url("../images/i-next.png");
}
.slider-nav li{
    display: inline-block;
}